html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
html {
  font-family: "Verdana", sans-serif;
}

.font-display {
  font-size: 5.6rem;
  font-weight: 300;
}

.font-header {
  font-size: 4.5333rem;
  font-weight: 700;
}

.font-title-1 {
  font-size: 3.7333rem;
  font-weight: 500;
}

.font-title-2 {
  font-size: 2.9333rem;
  font-weight: 500;
}

.font-headline {
  font-size: 2.6666rem;
  font-weight: 400;
}

.font-body {
  font-size: 1.8666rem;
  font-weight: 400;
  line-height: 1.5;
}

.font-caption {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

.menu {
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 10rem;
  position: fixed;
  top: 0;
  background-color: #ffffff;
}
.menu__logo {
  font-size: 2.2rem;
  font-weight: 600;
  text-decoration: none;
  color: #335576;
}
.menu__navigation {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.menu__link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #335576;
  padding-bottom: 1rem;
  transition: all 0.3s;
}
.menu__link:hover {
  border-bottom: 0.4rem solid #db7a4e;
}
.menu__link--active {
  border-bottom: 0.4rem solid #db7a4e;
}

@media only screen and (max-width: 600px) {
  .menu {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    padding: 2rem 0;
  }
}
.footer {
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10rem;
       column-gap: 10rem;
  padding: 5rem 10rem;
  background-color: #fefaf5;
}
.footer__container {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 9rem;
}
.footer__heading {
  font-size: 1.8rem;
  color: #335576;
  margin-bottom: 3rem;
}
.footer__title {
  font-size: 1rem;
  font-weight: 400;
  color: #db7a4e;
  margin-bottom: 1.5rem;
}
.footer__description {
  font-size: 1.6rem;
  color: #335576;
}
.footer__hours-box {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.footer__socials-box {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.footer__icon {
  height: 2.5rem;
  transition: all 0.5s ease;
}
.footer__icon:hover {
  transform: translateY(-10px);
}

@media only screen and (max-width: 750px) {
  .footer {
    align-items: center;
    flex-direction: column;
    row-gap: 6rem;
    padding: 4rem;
  }
  .footer__heading {
    text-align: center;
  }
  .footer__hours-box {
    flex-direction: column;
    row-gap: 2rem;
  }
}
@media only screen and (max-width: 1200px) {
  .footer {
    align-items: center;
    padding: 4rem 0;
  }
}
.hawaii {
  background: url("../../../assets/Images/hawaii.jpg");
}

.iceland {
  background: url("../../../assets/Images/iceland.jpg");
}

.greece {
  background: url("../../../assets/Images/greece.jpg");
}

.hawaii,
.iceland,
.greece {
  background-size: cover;
  background-position: center;
}

main .destination {
  margin-top: 5rem;
  padding: 6rem 10rem 12rem 10rem;
}
main .destination__heading {
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 5rem;
}
main .destination .activities {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
main .destination .activities__card {
  min-width: 30rem;
  height: 40rem;
  border-radius: 5px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .destination .activities__title {
  width: 85%;
  margin: 2rem 0 3rem 0;
  text-align: center;
  font-size: 1.8rem;
  border-bottom: 2px solid #335576;
}
main .destination .activities__description {
  width: 85%;
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  background-color: #fefaf5;
}

@media only screen and (max-width: 600px) {
  .destination .activities {
    flex-direction: column;
    row-gap: 10rem;
  }
}
@media only screen and (max-height: 1400px) {
  main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}/*# sourceMappingURL=page-destinations.css.map */