// NAVIGATION
$color-website-logo-wordmark: #335576;
$color-navigation-background: #ffffff;
$color-navigation-underline: #db7a4e;

// HOME
$color-home-hero-background: #fefaf5;
$color-home-hero-slogan: #335576;
$color-home-hero-button: #db7a4e;
$color-home-recommendations-title: #335576;

// DESTINATIONS
$color-destinations-background: #fefaf5;
